go 1.19

use (
	"./3-05 DeadlockPreventionTryLock"
	"./3-05 DeadlockPreventionTryLock/itsyourturn"
	./1-01-Goroutines
	./1-02-AreGoroutinesThreads
	./1-04-LoopSpawnCaveat
	./1-05-Channels
	./1-06-ChannelAxioms
	./1-07-TheSelectStatement
	./1-08-TimeToPractice-Channels/channelsTask2
	./1-08-TimeToPractice-Channels/channelsTask2Solution
	./1-08-TimeToPractice-Channels/channelsTask3solution
	./1-08-TimeToPractice-Channels/channelsTask4Solution
	./2-01-ManagingGoroutines/doneChannel
	./2-01-ManagingGoroutines/errGroup
	./2-01-ManagingGoroutines/waitGroup
	./2-02-ErrorHandlingWithErrorChannel
	./2-03-ErrorHandlingResultWithError
	./2-04-ErrorHandlingWithErrGroup
	./2-05-TheContextPackage/condensedexample
	./2-05-TheContextPackage/withcancel
	./2-05-TheContextPackage/withoutcontext
	./2-05-TheContextPackage/withtimeout
	./2-06-FanOutFanInEasy/scattergather
	./2-06-FanOutFanInEasy/serialsecscanner
	./2-06-FanOutFanInEasy/trivial
	./2-07-FanOutFanInUniversal
	./2-08-ManagingResourcesWithSyncPool
	./2-09-InitializationWithSyncOnce
	./3-01-DataRaces
	./3-02-Deadlocks
	./3-03-DeadlockDetection
	./3-04-DeadlockPreventionOrderedLocks
	./3-06-StarvationAndLivelocks
	./3-07-GoroutineLeaks
	./3-07-GoroutineLeaks/bufferfix
	./3-07-GoroutineLeaks/channelfix
	./mockdb
)
